{% extends "layouts/app.twig" %}

{% block title %}{{ __('Registry Configuration') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Registry Configuration') }}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
            {% include 'partials/flash.twig' %}
              <div class="card">
               <form action="/registry" method="post">
               {{ csrf.field | raw }}
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <h3 class="mb-3">{{ __('System Settings') }}</h3>

                      <div class="mb-3">
                        <label for="registryOperator" class="form-label required">{{ __('Registry Operator Name') }}</label>
                        <input type="text" class="form-control" id="registryOperator" name="registryOperator" placeholder="{{ __('Enter registry operator\'s name') }}" value="{{ company_name }}" required>
                        <small class="form-hint">{{ __('The official name of the organization operating the registry.') }}</small>
                      </div>
                      
                      <div class="mb-3">
                        <label for="rdapServer" class="form-label required">{{ __('RDAP Server') }}</label>
                        <input type="text" class="form-control" id="rdapServer" name="rdapServer" placeholder="{{ __('Enter registry RDAP server') }}" value="{{ rdap_server }}" required>
                        <small class="form-hint">{{ __('Enter the URL of the registry\'s RDAP server. Example:') }} https://rdap.example.com</small>
                      </div>
             
                      <div class="mb-3">
                        <label for="whoisServer" class="form-label required">{{ __('WHOIS Server') }}</label>
                        <input type="text" class="form-control" id="whoisServer" name="whoisServer" placeholder="{{ __('Enter registry whois server') }}" value="{{ whois_server }}" required>
                        <small class="form-hint">{{ __('Enter the URL of the registry\'s WHOIS server. Example:') }} whois.example.com</small>
                      </div>

                      <div class="mb-3">
                        <label for="registryHandle" class="form-label required">{{ __('Registry Handle') }}</label>
                        <input type="text" class="form-control" id="registryHandle" name="registryHandle" placeholder="{{ __('Enter registry handle') }}" value="{{ handle }}" required>
                        <small class="form-hint">{{ __('A unique identifier for the registry which will be appended to each object handle.') }}</small>
                      </div>
                      
                      <div class="mb-3">
                        <label for="registryCurrency" class="form-label required">{{ __('Registry Currency') }}</label>
                        <select class="form-select" id="registryCurrency" name="currency" required="required">
                            {% for currencyCode, currencyName in uniqueCurrencies %}
                                <option value="{{ currencyCode }}" {% if currency == currencyCode %}selected{% endif %}>{{ currencyName }}</option>
                            {% endfor %}
                        </select>
                        <small class="form-hint">{{ __('Choose the currency for all transactions. This impacts billing and financial reports. Inform stakeholders of changes.') }}</small>
                      </div>
                      
                      <div class="mb-3">
                        <label class="form-label">{{ __('Features') }}</label>
                        <div class="divide-y">
                          <div>
                            <label class="row">
                              <span class="col">{{ __('Require Launch Phases') }}</span>
                              <span class="col-auto">
                                <label class="form-check form-check-single form-switch">
                                  <input class="form-check-input" type="checkbox" name="launchPhases" {% if launch_phases == 'on' %}checked{% endif %}>
                                </label>
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">{{ __('Contact Verification') }}</label>
                        <div class="divide-y">
                          <div>
                            <label class="row">
                              <span class="col">{{ __('Verify by Phone') }}</span>
                              <span class="col-auto">
                                <label class="form-check form-check-single form-switch">
                                  <input class="form-check-input" type="checkbox" name="verifyPhone" {% if verifyPhone == 'on' %}checked{% endif %}>
                                </label>
                              </span>
                            </label>
                          </div>
                          <div>
                            <label class="row">
                              <span class="col">{{ __('Verify by Email') }}</span>
                              <span class="col-auto">
                                <label class="form-check form-check-single form-switch">
                                  <input class="form-check-input" type="checkbox" name="verifyEmail" {% if verifyEmail == 'on' %}checked{% endif %}>
                                </label>
                              </span>
                            </label>
                          </div>
                          <div>
                            <label class="row">
                              <span class="col">{{ __('Verify by Postal Mail') }}</span>
                              <span class="col-auto">
                                <label class="form-check form-check-single form-switch">
                                  <input class="form-check-input" type="checkbox" name="verifyPostal" {% if verifyPostal == 'on' %}checked{% endif %}>
                                </label>
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>

                    </div>
                          
                    <div class="col-md-6">
                      <h3 class="mb-3">{{ __('Operator Details') }}</h3>
                      
                      <div class="mb-3">
                        <label for="registryOperatorVat" class="form-label required">{{ __('Registry VAT/Company Number') }}</label>
                        <input type="text" class="form-control" id="registryOperatorVat" name="registryOperatorVat" placeholder="{{ __('Enter registry operator\'s VAT number') }}" value="{{ vat_number }}" required>
                        <small class="form-hint">{{ __('Enter the VAT number of the organization operating the registry, or company number if VAT is unavailable.') }}</small>
                      </div>
                      
                      <div class="mb-3">
                        <label for="contactAddress" class="form-label required">{{ __('Contact Address') }}</label>
                        <input type="text" class="form-control" id="contactAddress" name="contactAddress" placeholder="{{ __('Enter contact address') }}" value="{{ address }}" required>
                        <small class="form-hint">{{ __('The contact address of the registry.') }}</small>
                      </div>
                      
                      <div class="mb-3">
                        <label for="contactAddress2" class="form-label required">{{ __('Contact Address') }} (Line 2)</label>
                        <input type="text" class="form-control" id="contactAddress2" name="contactAddress2" placeholder="{{ __('Enter contact address') }}" value="{{ address2 }}" required>
                        <small class="form-hint">{{ __('The contact address of the registry.') }} (Line 2)</small>
                      </div>
                      
                      <div class="mb-3">
                        <label for="contactEmail" class="form-label required">{{ __('Contact Email') }}</label>
                        <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="{{ __('Enter contact email') }}" value="{{ email }}" required>
                        <small class="form-hint">{{ __('The email address for general inquiries to the registry.') }}</small>
                      </div>
                      
                      <div class="mb-3">
                        <label for="contactPhone" class="form-label required">{{ __('Contact Phone') }}</label>
                        <input type="tel" class="form-control" id="contactPhone" name="contactPhone" placeholder="{{ __('Enter contact phone') }}" value="{{ phone }}" required>
                        <small class="form-hint">{{ __('The phone number for general inquiries to the registry.') }}</small>
                      </div>

                    </div>
                   
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary">{{ __('Update Details') }}</button>
                    </div>
                  </div>
                 </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'partials/footer.twig' %}
      </div>
{% endblock %}