{% extends "layouts/app.twig" %}

{% block title %}{{ __('Registry Configuration') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Registry Configuration') }}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
            {% include 'partials/flash.twig' %}
              <div class="card">
               <form action="/registry" method="post">
               {{ csrf.field | raw }}
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="registryOperator" class="form-label required">Registry Operator Name</label>
                        <input type="text" class="form-control" id="registryOperator" name="registryOperator" placeholder="Enter registry operator's name" value="{{ company_name }}" required>
                        <small class="form-hint">The official name of the organization operating the registry.</small>
                      </div>
                      
                      <div class="mb-3">
                        <label for="registryOperatorVat" class="form-label required">Registry VAT/Company Number</label>
                        <input type="text" class="form-control" id="registryOperatorVat" name="registryOperatorVat" placeholder="Enter registry operator's VAT number" value="{{ vat_number }}" required>
                        <small class="form-hint">Enter the VAT number of the organization operating the registry, or company number if VAT is unavailable.</small>
                      </div>
                      
                      <div class="mb-3">
                        <label for="contactAddress" class="form-label required">Contact Address</label>
                        <input type="text" class="form-control" id="contactAddress" name="contactAddress" placeholder="Enter contact address" value="{{ address }}" required>
                        <small class="form-hint">The contact address of the registry.</small>
                      </div>
                      
                      <div class="mb-3">
                        <label for="contactAddress2" class="form-label required">Contact Address (Line 2)</label>
                        <input type="text" class="form-control" id="contactAddress2" name="contactAddress2" placeholder="Enter contact address" value="{{ address2 }}" required>
                        <small class="form-hint">The contact address of the registry. (Line 2)</small>
                      </div>

                    </div>
                          
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="contactEmail" class="form-label required">Contact Email</label>
                        <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="Enter contact email" value="{{ email }}" required>
                        <small class="form-hint">The email address for general inquiries to the registry.</small>
                      </div>
                      
                      <div class="mb-3">
                        <label for="contactPhone" class="form-label required">Contact Phone</label>
                        <input type="tel" class="form-control" id="contactPhone" name="contactPhone" placeholder="Enter contact phone" value="{{ phone }}" required>
                        <small class="form-hint">The phone number for general inquiries to the registry.</small>
                      </div>
                      
                      <div class="mb-3">
                        <label for="registryHandle" class="form-label required">Registry Handle</label>
                        <input type="text" class="form-control" id="registryHandle" name="registryHandle" placeholder="Enter registry handle" value="{{ handle }}" required>
                        <small class="form-hint">A unique identifier for the registry which will be appended to each object handle.</small>
                      </div>
                    </div>
                   
                  </div>
                </div>
                <div class="card-footer">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary">Update Details</button>
                    </div>
                  </div>
                 </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="https://namingo.org" target="_blank" class="link-secondary">Namingo</a>.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
{% endblock %}