<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Namingo Registry Panel - a powerful solution for managing domains, registrars, and registry operations seamlessly.">
    <meta name="author" content="Namingo Team">
    <meta name="keywords" content="Namingo, Registry Panel, Domain Management, Registrar Tools, Namingo Software, ICANN, Domain Registrar">
    <meta name="theme-color" content="#A62A6C">
    <title>Namingo Registry</title>
    {% include 'partials/css.twig' %}
    <style>
      @import url('/assets/fonts/inter/inter.css');
      :root {
          --tblr-font-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      @supports (font-variation-settings: normal) {
          :root {
              --tblr-font-sans-serif: "InterVariable", -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
              font-optical-sizing: auto;
          }
      }
    </style>
</head>
<body class="d-flex flex-column min-vh-100 bg-light">
    <header>
        <nav class="navbar navbar-expand-lg h-100 navbar-light bg-white border-bottom shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="."><img src="{{ logoPath }}" style="height: 35px; width: auto;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav">
                        {% if auth.isLogin %}
                        <li class="nav-item">
                            <a {{ is_current_url('home') ? 'class="nav-link active" aria-current="page"' : 'class="nav-link"' }} href="{{route('home')}}">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a {{ is_current_url('logout') ? 'class="nav-link active" aria-current="page"' : 'class="nav-link"' }} href="{{route('logout')}}">
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a {{ is_current_url('login') ? 'class="nav-link active" aria-current="page"' : 'class="nav-link"' }} href="{{route('login')}}">
                                Login
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="https://{{ whois_server }}" target="_blank">
                                WHOIS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ rdap_server }}" target="_blank">
                                RDAP
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mailto:{{ email }}">
                                Support Team
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-grow-1">
        <div class="container-fluid p-5 rounded-3 bg-light text-center">
            <div class="text-center my-5">
                <h1 class="fw-bold">Namingo Registry Panel</h1>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-4 mt-6">
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Open Panel</h5>
                            <p class="card-text">
                                {% if auth.isLogin %}
                                Access your registrar dashboard and manage domains.
                                {% else %}
                                Log in to access your registrar dashboard and manage domains.
                                {% endif %}
                            </p>
                            {% if auth.isLogin %}
                            <a href="{{route('home')}}" class="btn btn-primary">Dashboard</a>
                            {% else %}
                            <a href="{{route('login')}}" class="btn btn-primary">Log in</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">WHOIS & RDAP</h5>
                            <p class="card-text">Access domain information with our WHOIS and RDAP services.</p>
                            <a href="https://{{ whois_server }}" target="_blank" class="btn btn-secondary me-2">WHOIS</a>
                            <a href="{{ rdap_server }}" target="_blank" class="btn btn-secondary">RDAP</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Support Team</h5>
                            <p class="card-text">Get assistance, guidance, FAQs, and support for your needs.</p>
                            <a href="mailto:{{ email }}" class="btn btn-success">Contact Support</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Become a Registrar</h5>
                            <p class="card-text">Interested in partnering with us? Apply to become an official registrar.</p>
                            <a href="#" class="btn btn-warning">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-secondary text-start mt-4" role="alert">
                To customize this page, copy <code>index.twig</code> from 
                <code>/var/www/cp/resources/views</code> to 
                <code>index.custom.twig</code> and edit the file as required.
            </div>
        </div>
    </main>
    <footer class="footer bg-white border-top shadow-sm py-3">
        <div class="container">
            <span class="text-muted">&copy; {{ 'now' | date('Y') }} <strong>{{ company_name }}</strong>. All rights reserved.</span>
        </div>
    </footer>
    {% include 'partials/js.twig' %}
</body>
</html>