{% extends "layouts/app.twig" %}

{% block title %}Log History{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Overview
                </div>
                <h2 class="page-title">
                  Log History
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <span class="d-none d-sm-inline">
                    <a href="#" class="btn">
                      New view
                    </a>
                  </span>
                  <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                    Create new report
                  </a>
                  <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="card">
              <div class="card-body">
                <div id="table-default" class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th><button class="table-sort" data-sort="sort-id">Date</button></th>
                        <th><button class="table-sort" data-sort="sort-name">Registrar</button></th>
                        <th><button class="table-sort" data-sort="sort-name">Command</button></th>
                        <th><button class="table-sort" data-sort="sort-crdate">Object</button></th>
                        <th><button class="table-sort" data-sort="sort-status">Result</button></th>
                        <th><button class="table-sort" data-sort="sort-id">Message</button></th>
                        <th><button class="table-sort" data-sort="sort-name">Miliseconds</button></th>
                        <th><button class="table-sort" data-sort="sort-name">clTRID</button></th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-tbody">
						{% for log in logs %}
							<tr>
								<td>{{ log.cldate }}</td>
								<td>{{ log.registrar_id }}</td>
								<td>{{ log.cmd }}</td>
								<td>{{ log.obj_id }}</td>
								<td>{{ log.code }}</td>
								<td>{{ log.msg }}</td>
								<td>{{ log.clmicrosecond }}</td>
								<td>{{ log.clTRID }}</td>
                          <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">
                                  Action
                                </a>
                                <a class="dropdown-item" href="#">
                                  Another action
                                </a>
                              </div>
                            </span>
                          </td>
							</tr>
						{% endfor %}
                    </tbody>
                  </table>
                </div>
			</div>
		</div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="https://namingo.org" target="_blank" class="link-secondary">Namingo</a>.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
{% endblock %}
