{% extends "layouts/app.twig" %}

{% block title %}{{ __('View Invoice') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
       <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">
                  Invoice {{ invoice_details.invoice_number }}
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <button type="button" class="btn btn-primary" onclick="javascript:window.print();">
                  <!-- Download SVG icon from http://tabler-icons.io/i/printer -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" /><path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" /><path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" /></svg>
                  Print Invoice
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="card card-lg">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <p class="h3">Provider / Registry</p>
                    <address>
                      Street Address<br>
                      State, City<br>
                      Region, Postal Code<br>
                      ltd@example.com
                    </address>
                  </div>
                  <div class="col-6 text-end">
                    <p class="h3">Client / Registrar</p>
                    <address>
                      {{ billing.first_name }} {{ billing.last_name }}<br>
                      {{ billing.org }}<br>
                      {{ billing.street1 }}<br>
                      {{ billing.city }}, {{ billing.sp }}<br>
                      {{ billing.pc }}, {{ billing.cc }}<br>
                      {{ billing.email }}
                    </address>
                  </div>
                  <div class="col-6">
                    <p class="h3">Invoice Issued On: {{ invoice_details.issue_date|date("Y-m-d") }}</p>
                  </div>
                  <div class="col-6 text-end">
                    <p class="h3">Due Date: {{ invoice_details.due_date|date("Y-m-d") }}</p>
                  </div>
                  <div class="col-12 my-5">
                    <h1>Invoice {{ invoice_details.invoice_number }} {% set status = invoice_details.payment_status %}
                    <span class="badge 
                        {% if status == 'unpaid' %}bg-red text-red-fg
                        {% elseif status == 'paid' %}bg-green text-green-fg
                        {% elseif status == 'overdue' %}bg-orange text-orange-fg
                        {% elseif status == 'cancelled' %}bg-grey text-grey-fg
                        {% else %}bg-secondary
                        {% endif %}">
                        {{ status|capitalize }}
                    </span>
                    </h1>
                  </div>
                </div>
                <table class="table table-transparent table-responsive">
                  <thead>
                    <tr>
                      <th class="text-center" style="width: 1%"></th>
                      <th>Product</th>
                      <th class="text-end" style="width: 1%">Amount</th>
                    </tr>
                  </thead>
                {% if statement is not empty %}
                    {% set totalAmount = 0 %}
                    {% for item in statement %}
                        <tr>
                            <td class="text-center">{{ loop.index }}</td>
                            <td>
                                <p class="strong mb-1">{{ item.command }} {{ item.domain_name }}</p>
                            </td>
                            <td class="text-end">{{ item.amount }}</td>
                        </tr>
                        {% set totalAmount = totalAmount + item.amount %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2" class="text-center">No items found.</td>
                    </tr>
                {% endif %}      
                  <tr>
                    <td colspan="2" class="strong text-end">Subtotal</td>
                    <td class="text-end">{{ totalAmount|number_format(2, '.', ',') }}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="strong text-end">Vat Rate</td>
                    <td class="text-end">TODO</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="strong text-end">Vat Due</td>
                    <td class="text-end">TODO</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="font-weight-bold text-uppercase text-end">Total Due</td>
                    <td class="font-weight-bold text-end">{{ invoice_details.total_amount }}</td>
                  </tr>
                </table>
                <p class="text-secondary text-center mt-5">Notes: {{ invoice_details.notes }}</p>
                <p class="text-secondary text-center mt-5">Thank you very much for doing business with us. We look forward to working with
                  you again!</p>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="https://namingo.org" target="_blank" class="link-secondary">Namingo</a>.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
{% endblock %}