{% extends "layouts/app.twig" %}

{% block title %}{{ __('Ticket Overview') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Ticket Overview') }}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
            {% include 'partials/flash.twig' %}
              <form action="/support/reply" method="post">
                {{ csrf.field | raw }}
                <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ __('Ticket') }} #{{ ticket.id }} - {{ ticket.subject }}</h5>&nbsp;
                        {% if ticket.status == 'Open' %}
                            <span class="badge bg-success-lt">{{ ticket.status }}</span>
                        {% elseif ticket.status == 'In Progress' %}
                            <span class="badge bg-warning-lt">{{ ticket.status }}</span>
                        {% elseif ticket.status == 'Resolved' %}
                            <span class="badge bg-info-lt">{{ ticket.status }}</span>
                        {% elseif ticket.status == 'Closed' %}
                            <span class="badge bg-secondary-lt">{{ ticket.status }}</span>
                        {% else %}
                            <span class="badge bg-dark-lt">{{ __('Unknown Status') }}</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{ __('Ticket Details') }}</h6>
                        <p><span>{{ __('Created On') }}:</span> <strong>{{ ticket.date_created }}</strong></p>
                        <p><span>{{ __('Category') }}:</span> <strong>{{ category }}</strong></p>
                        <p><span>{{ __('Priority') }}:</span> <strong>{{ ticket.priority }}</strong></p>

                        <div class="card mt-3">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">{{ __('Conversation') }}</h6>
                                    {% for reply in replies %}
                                        <div class="d-flex align-items-start mb-3">
                                            <div class="flex-shrink-0">
                                                <span class="avatar">{{ reply.responder_name|slice(0, 2) }}</span>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>{{ reply.responder_name }}</strong> 
                                                <small class="text-muted">{{ reply.date_created|date("Y-m-d H:i") }}</small>
                                                <p>{{ reply.response }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="d-flex align-items-start mb-3">
                                        <div class="flex-shrink-0">
                                            <span class="avatar">{{ ticket.ticket_creator|slice(0, 2) }}</span>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>{{ ticket.ticket_creator }}</strong> <small class="text-muted">{{ ticket.date_created|date("Y-m-d H:i") }}</small>
                                            <p>{{ ticket.message }}</p>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <label for="responseText" class="form-label">{{ __('Your Response') }}</label>
                            <textarea class="form-control" id="responseText" name="responseText" rows="3" required></textarea>
                        </div>
                    </div>
                  <div class="card-footer">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary">{{ __('Submit Response') }}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% include 'partials/footer.twig' %}
      </div>
{% endblock %}