{% extends "layouts/app.twig" %}

{% block title %}{{ __('Check Domain') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <div class="mb-1">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="{{route('home')}}"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-8" /><rect x="10" y="12" width="4" height="4" /></svg></a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="{{route('listDomains')}}">{{ __('Domains') }}</a>
                    </li>
                    <li class="breadcrumb-item active">
                      {{ __('Check Domain') }}
                    </li>
                  </ol>
                </div>
                <h2 class="page-title">
                  {{ __('Check Domain') }}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
            {% include 'partials/flash.twig' %}
              <div class="card">
                <div class="card-body border-bottom py-3">
                  <p class="mb-4">{{ __('Enter the domain name you want to check:') }}</p>
                    <form action="/domain/check" method="POST">
                    {{ csrf.field | raw }}
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="yourdomain.com" name="domain_name" required="required" autocapitalize="none">
                        <button type="submit" class="btn btn-primary">{{ __('Check Availability') }}</button>
                      </div>
                      <div class="mb-3">
                        <input type="text" class="form-control" placeholder="{{ __('Allocation token') }}" name="token" autocapitalize="none">
                      </div>
                      <div class="mb-3">
                        <label class="form-check">
                          <input class="form-check-input" type="checkbox" name="claims">
                          <span class="form-check-label">{{ __('Check claims') }}</span>
                        </label>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'partials/footer.twig' %}
      </div>
{% endblock %}