{% extends "layouts/app.twig" %}

{% block title %}{{ __('Application Details') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Application Details') }}
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="/application/update/{{ domain.name_o }}" class="btn btn-info d-none d-sm-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                    {{ __('Update Application') }}
                  </a>
                  <a href="/application/update/{{ domain.name_o }}" class="btn btn-info d-sm-none btn-icon" aria-label="{{ __('Update Application') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
              <div class="card mb-3">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ __('Application for') }} {{ domain.name }}&nbsp;
                        {% if domainStatus %}
                            {% if domainStatus is iterable %}
                                {% for status in domainStatus %}
                                    <span class="status status-green" title="Status">{{ status.status }}</span>&nbsp;
                                {% endfor %}
                            {% else %}
                                {% if domainStatus.status %}
                                    <span class="status status-green" title="Status">{{ domainStatus.status }}</span>&nbsp;
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <span class="status status-info" title="Status">{{ domainStatus.status }}</span>
                        {% endif %}
                    </h3>
                </div>
                <div class="card-body">
                  <div class="datagrid">
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Created On') }}</div>
                      <div class="datagrid-content">{{ domain.crdate }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Application ID') }}</div>
                      <div class="datagrid-content">{{ domain.application_id }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Launch Phase') }}</div>
                      <div class="datagrid-content">{{ domain.phase_type|capitalize }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Phase Name') }}</div>
                      <div class="datagrid-content">{{ domain.phase_name|default('N/A') }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Registrar') }}</div>
                      <div class="datagrid-content">{{ registrars.name }}</div>
                    </div>{% if minimum_data == 'false' %}
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Registrant') }}</div>
                      <div class="datagrid-content"><strong><a href="/contact/view/{{ domainRegistrant.identifier }}">{{ domainRegistrant.identifier }}</a></strong></div>
                    </div>
                    {% for contact in domainContacts %}
                      <div class="datagrid-item">
                        <div class="datagrid-title">{{ contact.type }} {{ __('contact') }}</div>
                        <div class="datagrid-content"><strong><a href="/contact/view/{{ contact.identifier }}">{{ contact.identifier }}</a></strong></div>
                      </div>
                    {% endfor %}{% endif %}
                      <div class="datagrid-item">
                        <div class="datagrid-title">{{ __('Auth Type') }}</div>
                        <div class="datagrid-content">
                        {% if domain.authtype == 'pw' %}
                          Regular
                        {% elseif domain.authtype == 'ext' %}
                          HSM
                        {% else %}
                          {{ domain.authtype }} {# Fallback in case there are other types #}
                        {% endif %}
                        </div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">{{ __('Auth Info') }}</div>
                        <div class="datagrid-content blur" id="authInfo" onclick="toggleBlur()">
                          {{ domain.authinfo }}
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">{{ __('Nameservers') }}</h5>
                        <div class="datagrid">
                          {% for host in domainHosts %}
                          <div class="datagrid-item">
                            <div class="datagrid-title">{{ __('Nameserver') }} {{ loop.index }}</div>
                            <div class="datagrid-content">
                              <strong><a href="/host/view/{{ host.name }}">{{ host.name }}</a></strong>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        {% include 'partials/footer.twig' %}
      </div>
<style>
.blur {
  filter: blur(5px);
  cursor: pointer;
}

.blur:hover {
  filter: blur(2px);
}
</style>
<script>
function toggleBlur() {
  var authInfo = document.getElementById("authInfo");
  authInfo.classList.toggle("blur");
}

</script>
{% endblock %}