{% extends "layouts/app.twig" %}

{% block title %}{{ __('Application Details') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Application Details') }}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
              <div class="card mb-3">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ __('Application for') }} {{ domain.name }}&nbsp;
                        {% if domainStatus %}
                            {% if domainStatus is iterable %}
                                {% for status in domainStatus %}
                                    <span class="status status-green" title="Status">{{ status.status }}</span>&nbsp;
                                {% endfor %}
                            {% else %}
                                {% if domainStatus.status %}
                                    <span class="status status-green" title="Status">{{ domainStatus.status }}</span>&nbsp;
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <span class="status status-info" title="Status">{{ domainStatus.status }}</span>
                        {% endif %}
                    </h3>
                </div>
                <div class="card-body">
                  <div class="datagrid">
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Created On') }}</div>
                      <div class="datagrid-content">{{ domain.crdate }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Application ID') }}</div>
                      <div class="datagrid-content">{{ domain.application_id }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Launch Phase') }}</div>
                      <div class="datagrid-content">{{ domain.phase_type|capitalize }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Phase Name') }}</div>
                      <div class="datagrid-content">{{ domain.phase_name|default('N/A') }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Registrar') }}</div>
                      <div class="datagrid-content">{{ registrars.name }}</div>
                    </div>{% if minimum_data == 'false' %}
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Registrant') }}</div>
                      <div class="datagrid-content"><strong><a href="/contact/view/{{ domainRegistrant.identifier }}">{{ domainRegistrant.identifier }}</a></strong></div>
                    </div>
                    {% for contact in domainContacts %}
                      <div class="datagrid-item">
                        <div class="datagrid-title">{{ contact.type }} {{ __('contact') }}</div>
                        <div class="datagrid-content"><strong><a href="/contact/view/{{ contact.identifier }}">{{ contact.identifier }}</a></strong></div>
                      </div>
                    {% endfor %}{% endif %}
                      <div class="datagrid-item">
                        <div class="datagrid-title">{{ __('Auth Type') }}</div>
                        <div class="datagrid-content">
                        {% if domain.authtype == 'pw' %}
                          Regular
                        {% elseif domain.authtype == 'ext' %}
                          HSM
                        {% else %}
                          {{ domain.authtype }} {# Fallback in case there are other types #}
                        {% endif %}
                        </div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">{{ __('Auth Info') }}</div>
                        <div class="datagrid-content blur" id="authInfo" onclick="toggleBlur()">
                          {{ domain.authinfo }}
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">{{ __('Nameservers') }}</h5>
                        <div class="datagrid">
                          {% for host in domainHosts %}
                          <div class="datagrid-item">
                            <div class="datagrid-title">{{ __('Nameserver') }} {{ loop.index }}</div>
                            <div class="datagrid-content">
                              <strong><a href="/host/view/{{ host.name }}">{{ host.name }}</a></strong>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        {% include 'partials/footer.twig' %}
      </div>
<style>
.blur {
  filter: blur(5px);
  cursor: pointer;
}

.blur:hover {
  filter: blur(2px);
}
</style>
<script>
function toggleBlur() {
  var authInfo = document.getElementById("authInfo");
  authInfo.classList.toggle("blur");
}

</script>
{% endblock %}