{% extends "layouts/app.twig" %}

{% block title %}{{ __('Registrar Details') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Registrar Details') }}
                </h2>
              </div>
              {% if isAdmin %}
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="/registrar/update/{{ registrar.clid }}" class="btn btn-outline-info d-none d-sm-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                    {{ __('Update Registrar') }}
                  </a>
                  <a href="/registrar/update/{{ registrar.clid }}" class="btn btn-outline-info d-sm-none btn-icon" aria-label="{{ __('Update Registrar') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                  </a>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
            {% include 'partials/flash.twig' %}
              <div class="card mb-3">
                <div class="card-header">
                  <h3 class="card-title">{{ __('Registrar') }} {{ registrar.name }}&nbsp;<span class="status status-green" title="Prefix">{{ registrar.prefix }}</span>&nbsp;<span class="status status-info" title="IANA ID">{{ registrar.iana_id|default('N/A') }}</span>&nbsp;<span class="status status-indigo" title="{{ __('Company Number') }}">{{ registrar.companyNumber|default('N/A') }}</span>&nbsp;<span class="status status-cyan" title="{{ __('VAT Number') }}">{{ registrar.vatNumber|default('N/A') }}</span></h3>
                  {% if roles != 0 %}
                  <div class="card-actions">
                    <a href="{{route('editRegistrar')}}" type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                    {{ __('Update Registrar') }}
                    </a>
                  </div>
                  {% endif %}
                </div>
                <div class="card-body">
                  <div class="datagrid">
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Contact Email') }}</div>
                      <div class="datagrid-content">{{ registrar.email }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Website') }}</div>
                      <div class="datagrid-content">{{ registrar.url }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Abuse Phone') }}</div>
                      <div class="datagrid-content">{{ registrar.abuse_phone }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Abuse Email') }}</div>
                      <div class="datagrid-content">{{ registrar.abuse_email }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('WHOIS Server') }}</div>
                      <div class="datagrid-content">{{ registrar.whois_server }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('RDAP Server') }}</div>
                      <div class="datagrid-content">{{ registrar.rdap_server }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Creation Date') }}</div>
                      <div class="datagrid-content">{{ registrar.crdate }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Currency') }}</div>
                      <div class="datagrid-content">{{ registrar.currency }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Account Balance') }}</div>
                      <div class="datagrid-content">{{ currency }} {{ registrar.accountBalance }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Credit Limit') }}</div>
                      <div class="datagrid-content">{{ currency }} {{ registrar.creditLimit }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Credit Threshold') }}</div>
                      <div class="datagrid-content">{{ currency }} {{ registrar.creditThreshold }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Threshold Type') }}</div>
                      <div class="datagrid-content">{{ registrar.thresholdType|capitalize }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">{{ __('IP Whitelisting') }}</h5>
                      <ul class="list-group">
                        {% if registrarWhitelist is not empty %}
                            {% for ip in registrarWhitelist %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ ip.addr }}
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">{{ __('No data available.') }}</li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">{{ __('Registrar User') }}</h5>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col required">{{ __('EPP Username/CLID') }}</th>
                                <th scope="col">{{ __('Panel Login Email') }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <div class="form-control-plaintext">{{ registrar.clid }}</div>
                                </td>
                                <td>
                                  <div class="form-control-plaintext">{{ userEmail.email }}</div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">{{ __('Operational Test and Evaluation (OTE)') }}</h5>
                  <div class="row mb-3">
                    <div class="col-md-11">
                      <p class="card-text">
                        {{ __('Successfully passing the Operational Test and Evaluation (OTE) is a mandatory requirement for registrars. The OTE process evaluates the interaction and compliance of the registrar\'s system with registry operations through a series of EPP command tests in a controlled environment. Below you can find the results of these essential EPP command tests for your account:') }}
                      </p>
                    </div>
                    <div class="col-md-1 text-end">
                      <a href="{% if roles == 0 %}/registrar/check?reg={{ registrar.id }}{% else %}/registrar/check{% endif %}" title="Check Results" class="btn btn-icon btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M9 17v-4" /><path d="M12 17v-1" /><path d="M15 17v-2" /><path d="M12 17v-1" /></svg>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            {% for item in firstHalf %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ item.command }}
                                    <span class="badge {% if item.result == 0 %}bg-green{% elseif item.result == 9 %}bg-orange{% elseif item.result == 1 %}bg-red{% endif %} text-white">
                                        {% if item.result == 0 %}{{ __('Completed') }}{% elseif item.result == 9 %}{{ __('Pending') }}{% elseif item.result == 1 %}{{ __('Failed') }}{% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="list-group">
                            {% for item in secondHalf %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ item.command }}
                                    <span class="badge {% if item.result == 0 %}bg-green{% elseif item.result == 9 %}bg-orange{% elseif item.result == 1 %}bg-red{% endif %} text-white">
                                        {% if item.result == 0 %}{{ __('Completed') }}{% elseif item.result == 9 %}{{ __('Pending') }}{% elseif item.result == 1 %}{{ __('Failed') }}{% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        {% include 'partials/footer.twig' %}
      </div>
{% endblock %}