{% extends "layouts/app.twig" %}

{% block title %}{{ __('Host Details') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Host Details') }}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">{{ host.name }}&nbsp;<span class="status status-green">{{ hostStatus.status }}</span></h3>
                </div>
                <div class="card-body">
                  <div class="datagrid">
                    <div class="datagrid-item">
                      <div class="datagrid-title">IPv4</div>
                      <div class="datagrid-content">{% for ipv4 in hostIPv4 %}
                        {{ ipv4.addr }}{% if not loop.last %}, {% endif %}
                      {% endfor %}
                      </div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">IPv6</div>
                      <div class="datagrid-content">{% for ipv6 in hostIPv6 %}
                        {{ ipv6.addr }}{% if not loop.last %}, {% endif %}
                      {% endfor %}
                      </div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">Creation Date</div>
                      <div class="datagrid-content">{{ host.crdate }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">Registrar</div>
                      <div class="datagrid-content">{{ registrars.name }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="https://namingo.org" target="_blank" class="link-secondary">Namingo</a>.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
{% endblock %}