{% extends "layouts/app.twig" %}

{% block title %}{{ __('Host Details') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Host Details') }}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">{{ __('Host') }} {{ host.name }}&nbsp;<span class="status status-green">{{ hostStatus.status }}</span>{% if hostLinked is not null %}&nbsp;<span class="status status-info">{{ __('linked') }}</span>{% endif %}</h3>
                </div>
                <div class="card-body">
                  <div class="datagrid">
                    <div class="datagrid-item">
                      <div class="datagrid-title">IPv4</div>
                      <div class="datagrid-content">
                        {% if hostIPv4 is empty %}
                          N/A
                        {% else %}
                          {% for ipv4 in hostIPv4 %}
                            {{ ipv4.addr }}{% if not loop.last %}, {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">IPv6</div>
                      <div class="datagrid-content">
                        {% if hostIPv6 is empty %}
                          N/A
                        {% else %}
                          {% for ipv6 in hostIPv6 %}
                            {{ ipv6.addr }}{% if not loop.last %}, {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Creation Date') }}</div>
                      <div class="datagrid-content">{{ host.crdate }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Registrar') }}</div>
                      <div class="datagrid-content">{{ registrars.name }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'partials/footer.twig' %}
      </div>
{% endblock %}