{% extends "layouts/app.twig" %}

{% block title %}{{ __('Host Details') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Host Details') }}
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="{{route('hostcreate')}}" class="btn btn-primary d-none d-sm-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                    {{ __('Create Host') }}
                  </a>
                  <a href="{{route('hostcreate')}}" class="btn btn-primary d-sm-none btn-icon" aria-label="{{ __('Create Host') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">{{ host.name }}&nbsp;<span class="status status-green">{{ hostStatus.status }}</span></h3>
                </div>
                <div class="card-body">
                  <div class="datagrid">
                    <div class="datagrid-item">
                      <div class="datagrid-title">IPv4</div>
                      <div class="datagrid-content">{% for ipv4 in hostIPv4 %}
                        {{ ipv4.addr }}{% if not loop.last %}, {% endif %}
                      {% endfor %}
                      </div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">IPv6</div>
                      <div class="datagrid-content">{% for ipv6 in hostIPv6 %}
                        {{ ipv6.addr }}{% if not loop.last %}, {% endif %}
                      {% endfor %}
                      </div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">Creation Date</div>
                      <div class="datagrid-content">{{ host.crdate }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">Registrar</div>
                      <div class="datagrid-content">{{ registrars.name }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="https://namingo.org" target="_blank" class="link-secondary">Namingo</a>.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
{% endblock %}