{% extends "layouts/app.twig" %}

{% block title %}{{ __('Host Details') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  {{ __('Overview') }}
                </div>
                <h2 class="page-title">
                  {{ __('Host Details') }}
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="/host/update/{{ host.name }}" class="btn btn-info d-none d-sm-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                    {{ __('Update Host') }}
                  </a>
                  <a href="/host/update/{{ host.name }}" class="btn btn-info d-sm-none btn-icon" aria-label="{{ __('Update Host') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">{{ __('Host') }} {{ host.name }}&nbsp;<span class="status status-green">{{ hostStatus.status }}</span>{% if hostLinked is not null %}&nbsp;<span class="status status-info">{{ __('linked') }}</span>{% endif %}</h3>
                </div>
                <div class="card-body">
                  <div class="datagrid">
                    <div class="datagrid-item">
                      <div class="datagrid-title">IPv4</div>
                      <div class="datagrid-content">
                        {% if hostIPv4 is empty %}
                          N/A
                        {% else %}
                          {% for ipv4 in hostIPv4 %}
                            {{ ipv4.addr }}{% if not loop.last %}, {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">IPv6</div>
                      <div class="datagrid-content">
                        {% if hostIPv6 is empty %}
                          N/A
                        {% else %}
                          {% for ipv6 in hostIPv6 %}
                            {{ ipv6.addr }}{% if not loop.last %}, {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Creation Date') }}</div>
                      <div class="datagrid-content">{{ host.crdate }}</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">{{ __('Registrar') }}</div>
                      <div class="datagrid-content">{{ registrars.name }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'partials/footer.twig' %}
      </div>
{% endblock %}