{% extends "layouts/auth.twig" %}

{% block title %}Update Password{% endblock %}

{% block content %}
	<form action="{{route('update.password')}}" name="register" method="post">
		{{ csrf.field | raw }}
		<input type="hidden" name="selector" value="{{selector}}">
		<input type="hidden" name="token" value="{{token}}">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md-6">
				<div class="card px-5 py-5">
					<h5 class="mt-3">Reset Password</h5>
					<div class="form-input{{ errors.password ? ' has-error' : '' }}">
						<i class="fa fa-lock"></i> <input type="password" name="password" class="form-control" placeholder="Enter password">
						{% if errors.password %}
							<span class="hel-block">{{ errors.password | first }}</span>
						{% endif %}
					</div>
					<div class="form-input">
						<i class="fa fa-lock"></i> <input type="password" name="password2" class="form-control" placeholder="Re-enter password">
					</div>
					<button type="submit" class="btn btn-primary mt-4 signup">Reset Password</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

