<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}{% endblock %} | Namingo</title>
    <!-- CSS files -->
{% if route_is('domains') or route_is('applications') or route_is('contacts') or route_is('hosts') or route_is('epphistory') or route_is('registrars') or route_is('transactions') or route_is('overview') or route_is('reports') or route_is('transfers') or route_is('users') or is_current_url('ticketview') or route_is('poll') or route_is('log') or route_is('invoices') or route_is('registry/tlds') or route_is('profile') %}{% include 'partials/css-tables.twig' %}{% else %}{% include 'partials/css.twig' %}{% endif %}
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
          --tblr-font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
    </style>
  </head>
  <body{% if screen_mode == 'dark' %} data-bs-theme="dark"{% endif %}>
    <div class="page">
      <!-- Navbar -->
      <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="{{route('home')}}">
              <img src="{{ logoPath }}" width="110" height="32" alt="Namingo" class="navbar-brand-image">
            </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item d-md-flex me-3">
              <div class="btn-list">
                <div class="dropdown small-dropdown">
                  <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown"><span class="flag flag-country-{{ uiLang }}"></span>&nbsp;{{ lang }}</a>
                    <div class="dropdown-menu">
                      <a href="/lang?en_US" class="dropdown-item"><span class="flag flag-country-us"></span>&nbsp;English</a>
                      <a href="/lang?uk_UA" class="dropdown-item"><span class="flag flag-country-ua"></span>&nbsp;Українська</a>
                      <a href="/lang?fr_FR" class="dropdown-item"><span class="flag flag-country-fr"></span>&nbsp;Français</a>
                      <a href="/lang?es_ES" class="dropdown-item"><span class="flag flag-country-es"></span>&nbsp;Español</a>
                      <a href="/lang?pt_PT" class="dropdown-item"><span class="flag flag-country-pt"></span>&nbsp;Português</a>
                      <a href="/lang?jp_JP" class="dropdown-item"><span class="flag flag-country-jp"></span>&nbsp;日本語</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="d-none d-md-flex me-3">
              <a href="/mode" class="nav-link px-0 hide-theme-dark" title="{{ __('Enable dark mode') }}" data-bs-toggle="tooltip"
           data-bs-placement="bottom">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
              </a>
              <a href="/mode" class="nav-link px-0 hide-theme-light" title="{{ __('Enable light mode') }}" data-bs-toggle="tooltip"
           data-bs-placement="bottom">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="4" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
              </a>
            </div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                <span class="avatar bg-{% if roles == 0 %}primary{% else %}green{% endif %}-lt">{{ auth.user.username|slice(0, 2)|upper }}</span>
                <div class="d-none d-xl-block ps-2">
                  <div>{{auth.user.username}}</div>
                  <div class="mt-1 small text-muted">{{auth.user.email}}</div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <a href="{{route('profile')}}" class="dropdown-item">{{ __('My Profile') }}</a>
                {% if isAdminImpersonation %}<a href="{{ route('leave_impersonation') }}" class="dropdown-item">{{ __('Leave Impersonation') }}</a>{% endif %}
                <a href="{{route('logout')}}" class="dropdown-item">{{ __('Logout') }}</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="navbar navbar-light">
            <div class="container-xl">
              <ul class="navbar-nav">
                <li {{ is_current_url('home') ? 'class="nav-item active"' : 'class="nav-item"' }}>
                  <a class="nav-link" href="{{route('home')}}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path d="M10 12h4v4h-4z"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {{ __('Dashboard') }}
                    </span>
                  </a>
                </li>
                <li {{ is_current_url('listDomains') or is_current_url('listApplications') or is_current_url('checkDomain') or is_current_url('createDomain') or is_current_url('createApplication') or is_current_url('listTransfers') or is_current_url('requestTransfer') or 'domain' in currentUri or 'application' in currentUri ? 'class="nav-item dropdown active"' : 'class="nav-item dropdown"' }}>
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4"></path><path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4"></path><path d="M12.5 3a16.989 16.989 0 0 1 1.828 4"></path><path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4"></path><path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4"></path><path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4"></path><path d="M2 10l1 4l1.5 -4l1.5 4l1 -4"></path><path d="M17 10l1 4l1.5 -4l1.5 4l1 -4"></path><path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {{ __('Domains') }}
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{route('listDomains')}}">
                      {{ __('List Domains') }}
                    </a>
                    <a class="dropdown-item" href="{{route('checkDomain')}}">
                      {{ __('Check Domain') }}
                    </a>
                    <a class="dropdown-item" href="{{route('createDomain')}}">
                      {{ __('Create Domain') }}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{route('listApplications')}}">
                      {{ __('List Applications') }}
                    </a>
                    <a class="dropdown-item" href="{{route('createApplication')}}">
                      {{ __('Create Application') }}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{route('listTransfers')}}">
                      {{ __('Transfers') }}
                    </a>
                    <a class="dropdown-item" href="{{route('requestTransfer')}}">
                      {{ __('Request Transfer') }}
                    </a>
                  </div>
                </li>{% if minimum_data == 'false' %}
                <li {{ is_current_url('listContacts') or is_current_url('createContact') or 'contact' in currentUri ? 'class="nav-item dropdown active"' : 'class="nav-item dropdown"' }}>
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z"></path><path d="M10 16h6"></path><path d="M13 11m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M4 8h3"></path><path d="M4 12h3"></path><path d="M4 16h3"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {{ __('Contacts') }}
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{route('listContacts')}}">
                      {{ __('List Contacts') }}
                    </a>
                    <a class="dropdown-item" href="{{route('createContact')}}">
                      {{ __('Create Contact') }}
                    </a>
                  </div>
                </li>{% endif %}
                <li {{ is_current_url('listHosts') or is_current_url('createHost') or 'host/' in currentUri ? 'class="nav-item dropdown active"' : 'class="nav-item dropdown"' }}>
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9m-6 0a6 6 0 1 0 12 0a6 6 0 1 0 -12 0"></path><path d="M12 3c1.333 .333 2 2.333 2 6s-.667 5.667 -2 6"></path><path d="M12 3c-1.333 .333 -2 2.333 -2 6s.667 5.667 2 6"></path><path d="M6 9h12"></path><path d="M3 19h7"></path><path d="M14 19h7"></path><path d="M12 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M12 15v2"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {{ __('Hosts') }}
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{route('listHosts')}}">
                      {{ __('List Hosts') }}
                    </a>
                    <a class="dropdown-item" href="{{route('createHost')}}">
                      {{ __('Create Host') }}
                    </a>
                  </div>
                </li>
                {% if roles == 0 %}<li {{ is_current_url('registrars') or is_current_url('listUsers') or is_current_url('createUser') or is_current_url('registrarcreate') or 'registrar' in currentUri ? 'class="nav-item dropdown active"' : 'class="nav-item dropdown"' }}>
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 13a3 3 0 1 0 0 -6a3 3 0 0 0 0 6z"></path><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"></path><path d="M6 20.05v-.05a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v.05"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {{ __('Registrars') }}
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{route('registrars')}}">
                      {{ __('List Registrars') }}
                    </a>
                    <a class="dropdown-item" href="{{route('registrarcreate')}}">
                      {{ __('Create Registrar') }}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{route('listUsers')}}">
                      {{ __('List Users') }}
                    </a>
                    <a class="dropdown-item" href="{{route('createUser')}}">
                      {{ __('Create User') }}
                    </a>
                  </div>
                </li>{% endif %}
                <li {{ is_current_url('deposit') or is_current_url('transactions') or is_current_url('overview') or is_current_url('invoices') or is_current_url('successStripe') or 'invoice' in currentUri ? 'class="nav-item dropdown active"' : 'class="nav-item dropdown"' }}>
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 9m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path><path d="M14 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M17 9v-2a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v6a2 2 0 0 0 2 2h2"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {{ __('Financials') }}
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{route('overview')}}">
                      {{ __('Account Overview') }}
                    </a>
                    <a class="dropdown-item" href="{{route('transactions')}}">
                      {{ __('Transactions') }}
                    </a>
                    <a class="dropdown-item" href="{{route('invoices')}}">
                      {{ __('Invoices') }}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{route('deposit')}}">
                      {{ __('Add Deposit') }}
                    </a>
                  </div>
                </li>
                <li {{ is_current_url('epphistory') or is_current_url('poll') or is_current_url('log') or is_current_url('registry') or is_current_url('reports') or is_current_url('listTlds') or is_current_url('createTld') or 'tld' in currentUri or 'reserved' in currentUri or 'tokens' in currentUri or (roles != 0 and 'registrar' in currentUri) ? 'class="nav-item dropdown active"' : 'class="nav-item dropdown"' }}>
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path> <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {% if roles == 0 %}{{ __('Registry') }}{% else %}{{ __('Registrar') }}{% endif %}
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    {% if roles != 0 %}<a class="dropdown-item" href="{{route('registrar')}}">
                      {{ __('Details') }}
                    </a>{% endif %}
                    {% if roles == 0 %}<a class="dropdown-item" href="{{route('registry')}}">
                      {{ __('Configuration') }}
                    </a>
                    <a class="dropdown-item" href="{{route('listTlds')}}">
                      {{ __('TLDs') }}
                    </a>
                    <a class="dropdown-item" href="{{route('reports')}}">
                      {{ __('Reports') }}
                    </a>
                    <div class="dropdown-divider"></div>{% endif %}
                    <a class="dropdown-item" href="{{route('poll')}}">
                      {{ __('Message Queue') }}
                    </a>
                    <a class="dropdown-item" href="{{route('epphistory')}}">
                      {{ __('EPP History') }}
                    </a>
                    {% if roles == 0 %}<a class="dropdown-item" href="{{route('log')}}">
                      {{ __('System Log') }}
                    </a>{% endif %}
                  </div>
                </li>
                <li {{ is_current_url('ticketview') or is_current_url('newticket') or is_current_url('docs') or is_current_url('mediakit') or 'ticket' in currentUri ? 'class="nav-item dropdown active"' : 'class="nav-item dropdown"' }}>
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path d="M15 15l3.35 3.35"></path><path d="M9 15l-3.35 3.35"></path><path d="M5.65 5.65l3.35 3.35"></path><path d="M18.35 5.65l-3.35 3.35"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {{ __('Support') }}
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{route('ticketview')}}">
                      {{ __('Support Tickets') }}
                    </a>
                    <a class="dropdown-item" href="{{route('newticket')}}">
                      {{ __('Create Ticket') }}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{route('docs')}}">
                      {{ __('Documentation') }}
                    </a>
                    <a class="dropdown-item" href="{{route('mediakit')}}">
                      {{ __('Media Kit') }}
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
     {% block content %}{% endblock %}
    </div>
    <!-- Libs JS -->
{% if route_is('dashboard') %}
    {% include 'partials/js-home.twig' %}
{% elseif route_is('domains') %}
    {% include 'partials/js-domains.twig' %}
{% elseif route_is('applications') %}
    {% include 'partials/js-applications.twig' %}
{% elseif route_is('contacts') %}
    {% include 'partials/js-contacts.twig' %}
{% elseif route_is('hosts') %}
    {% include 'partials/js-hosts.twig' %}
{% elseif route_is('epphistory') %}
    {% include 'partials/js-logs.twig' %}
{% elseif route_is('registrars') %}
    {% include 'partials/js-registrars.twig' %}
{% elseif route_is('transactions') %}
    {% include 'partials/js-transactions.twig' %}
{% elseif route_is('overview') %}
    {% include 'partials/js-overview.twig' %}
{% elseif route_is('reports') %}
    {% include 'partials/js-reports.twig' %}
{% elseif route_is('transfers') %}
    {% include 'partials/js-transfers.twig' %}
{% elseif route_is('users') %}
    {% include 'partials/js-users.twig' %}
{% elseif is_current_url('ticketview') %}
    {% include 'partials/js-support.twig' %}
{% elseif route_is('poll') %}
    {% include 'partials/js-poll.twig' %}
{% elseif route_is('log') %}
    {% include 'partials/js-log.twig' %}
{% elseif route_is('invoices') %}
    {% include 'partials/js-invoices.twig' %}
{% elseif route_is('registry/tlds') %}
    {% include 'partials/js-tlds.twig' %}
{% elseif route_is('profile') %}
    {% include 'partials/js-profile.twig' %}
{% else %}
    {% include 'partials/js.twig' %}
{% endif %}
  </body>
</html>